<?php
/**
 * @access protected
 * @author Judzhin Miles <info[woof-woof]msbios.com>
 */

namespace MSBios\Log;

use Zend\Log\Formatter\Simple;
use Zend\Log\Logger;

return [
    'logs' => [
        'enabled' => true,
    ],
];
